@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply px-2 py-1 font-worksans font-semibold transition duration-300 rounded-md
}

.btn-primary{
    @apply hover:bg-accent border-2 border-accent  bg-accent lg:bg-inherit 
}


li:last-child{
    @apply px-8 py-2 rounded-full bg-accent text-white font-medium
}

li:not(:last-child){
    @apply hidden lg:block font-worksans relative w-fit after:block after:content-[''] after:absolute after:h-[3px] after:bg-accent after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center
}

.section-tittle{
    font-size: 12rem;
    line-height: 1;
}

.contact-list{
    @apply text-white font-worksans relative w-fit after:block after:content-[''] after:absolute after:h-[3px] after:bg-accent after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center
}


@font-face{
    font-family: newake;
    src: url("/src/assets/fonts/Newake-Font-Demo.otf") format("opentype")
}

@font-face{
    font-family: worksans;
    src: url("/src/assets/fonts/WorkSans-VariableFont_wght.ttf") format("opentype")
}
